.section-container {
    background-color: rgb(238,238,238);
    padding: 15px 12px;
    cursor: pointer;
}

.section-title {
    list-style: none;
}

.section-container:hover {
    background-color: #ccc;
}